.custom-btn {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  /* background: linear-gradient(to right, #1a2332, #2a3441); */
  background: linear-gradient(to right, #218838, #28a745);
  color: white;
  border: none;
  box-shadow: 0 1px 1px rgba(27, 50, 26, 0.4);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.custom-btn:hover {
  background: linear-gradient(to right, #28a745, #218838);
  box-shadow: 0 6px 20px rgba(40, 167, 69, 0.6);
  /* background: linear-gradient(to right, #2a3441, #3a4552); */
  /* box-shadow: 0 2px 4px rgba(26, 35, 50, 0.6); */
  transform: translateY(-1px);
  cursor: pointer;
}

.custom-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.btn-primary {
  /* background: linear-gradient(to right, #1a2332, #2a3441); */
    background: linear-gradient(to right, #218838, #28a745);

  color: white;
  border: 1px solid #218838;
  box-shadow: 0 1px 1px rgba(27, 50, 26, 0.4);
}

.btn-primary:hover {
  background: linear-gradient(to right, #28a745, #218838);
  box-shadow: 0 1px 1px rgba(27, 50, 26, 0.4);
  transform: translateY(-1px);
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid #28a745;
  color: #28a745;
  box-shadow: 0 1px 1px rgba(27, 50, 26, 0.4);
}

.btn-outline:hover {
  background-color: #218838;
  /* transform: translateY(-1px); */
  color: #fff;
  cursor: pointer;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
