.dashboard-container {
  display: flex;
  min-height: 100vh;
  background: #f5f5f5;
}
.dashboard-container-dark{
  background: inherit !important;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.main-content {
  flex-grow: 1;
  padding: 0rem 2rem 2rem 2rem;
  margin-left: 220px;
  transition: margin-left 0.3s ease-in-out;
}


.sidebar.closed + .main-content {
  margin-left: 0;
}
