.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.exam-container {
  width: 80%;
}

.exam-header {
  text-align: center;
  margin-bottom: 32px;
}

.timer-circle-container {
  width: 170px;
  height: 170px;
  margin: 20px auto;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-svg {
  width: 160px;
  height: 160px;
  transform: rotate(-90deg); /* يبدأ من فوق */
}

.timer-background {
  fill: none;
  stroke: #f1f3f5; /* رمادي فاتح أنعم */
  stroke-width: 8;
}

.timer-progress {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 283;
  transition: stroke-dashoffset 0.5s linear, stroke 0.4s ease;
  stroke: #4caf50;
}

.timer-text {
  text-anchor: middle;
  dominant-baseline: middle;
  transform: rotate(90deg);
  transform-origin: 50px 50px;
}

.exam-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background-color: #ffffff0b;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.question-section h4 {
  font-weight: bold;
}

.choices .form-check {
  margin-bottom: 1rem;
}

.question-nav .btn {
  min-width: 50px;
  font-weight: 500;
}

/* منع التحديد والنسخ */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
