.sidebar {
  width: 220px;
  background: #0f0f00;
  color: #fff;
  height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.06);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 4px;
  transition: background 0.2s;
  cursor: pointer;
}
.sidebar a.active,
.sidebar a:hover {
    background: #2d2d2d;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.sidebar .material-icons {
  margin-right: 12px;
  font-size: 22px;
}
