<aside class="sidebar">
  <h4 class="logo text-center mb-4 mt-2 pb-3 border-bottom border-1 border-secondary">📘 Exam System</h4> 
  <ul>
    <li *ngFor="let item of sidebarItems">
      <a
        *ngIf="!item.isLogout; else logoutTemplate"
        [routerLink]="item.route"
        routerLinkActive="active"
      >
        <span class="material-icons">{{ item.icon }}</span>
        <span>{{ item.label }}</span>
      </a>

      <ng-template #logoutTemplate>
        <a (click)="logout()" class="logout">
          <span class="material-icons">{{ item.icon }}</span>
          <span>{{ item.label }}</span>
        </a>
      </ng-template>
    </li>
  </ul>
</aside>
