/* You can add global styles to this file, and also import other style files */

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

body.dark-mode .nav-link {
  color: #ddd !important;
}

input.dark-mode {
  background-color: #444 !important;
}
