body.dark-mode {
  /* background-color: #121212; */
  background: linear-gradient(135deg, #0f0f0f 0%, #1f1f1f 50%, #2b2b2b 100%);
  color: white;
}

body.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

body.dark-mode .nav-link {
  color: #ddd !important;
}

body.dark-mode input {
  background-color: #2d2d2d !important;
  color: #f1f1f1 !important;
  /* border-color: #555; */
}

body.dark-mode input:focus {
  /* border-color: #4caf50; */
  /* box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3); */
}

body.dark-mode .text {
  color: white;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.no-select,
body.no-select * {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
